{% extends 'main.html' %}
{% block content %}
<h1>{{user.username}}</h1>
<style>
    .my-grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr; /* 3 columns: narrow, wide, narrow */
  gap: 1rem; /* Tailwind gap-4 = 1rem (16px) */
}
</style>
<div class="my-grid">
    <div>
                {%  include 'base/topics_component.html' %}

    </div>
    <div>
        {%  include 'base/feed_component.html' %}
    </div>
    <div>
                {%  include 'base/activity_component.html' %}
    </div>
</div>
{% endblock  %}